:root {
--primary-color: #a2f1f7;
--secondary-color: #00abee;
--tertiary-color: #8C857C;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

  body{
   background-color: rgb(206, 249, 255);
 }

 /* header/ navbar styling*/
 .header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   background-color: var(--secondary-color);
   opacity: 100%;
 }

 .header ul {
   display: flex;
   list-style: none;
   margin: 20px 0px;
 }

 .header ul li{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.1rem;
   font-weight: bold;
 }

 .header ul li a{
   text-decoration: none;
   color: white;
   padding: 8px 25px;
   transition: all .5s ease;
 }

 .header ul li a:hover{
   background-color: azure;
   color: black;
   box-shadow: 0 0 10px white;
 }

 /*Hero styling*/
 #home{
   display: flex;
   flex-direction: column;
 }

 #home::before{
   content: "";
   position: relative;
   top: 0;
   right: 0;
   background: url(../assets/images/IMG_6920.jpg) no-repeat center center/cover;
   display: flex;
   height: 1300px;
   width:100%;
   z-index: -1;
 }
  
 .main{
   display: flex;
   flex-direction: row;
   align-items: center;
   position: absolute;
   top: 5%;
   left: 2%;
   color: var(--primary-color);
   font-size: 3rem;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   -webkit-text-stroke: 2px var(--secondary-color);
 }

 /*Heading of sections styling*/
 .headings { 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   color: var(--primary-color);
   font-size: 2rem;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   -webkit-text-stroke: 2px var(--secondary-color);
   padding: 10px 0 10px 0;
 }

  /* Bio/ about me styling*/
  
  #bio {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  #pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #pic img{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 325px;
    border: 3px solid black;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }

  .intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

 /*Portfolio styling*/

 #portfolio{
   display: flex;
   flex-direction: column;
 }

 .projects{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   justify-content: space-between;
 }

 .winendine{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border:3px solid black;
   border-radius: 12px;
   margin: 10px;
 }

 .winendine img{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   max-width: 100%;
   border-radius: 12px 12px 0px 0px;
 }

  .winendine h2{
   display: flex;
   justify-content: center;
   color: var(--primary-color);
   font-size: 2rem;
   font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
   -webkit-text-stroke: 2px var(--secondary-color);
 }

 .horiseon{
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;
   border:3px solid black;
   border-radius: 12px;
   float: left;
   max-width: 49%;
  }

  .horiseon img{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
  }

  .horiseon h2{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    -webkit-text-stroke: 2px var(--secondary-color);
  }
 
  .password-generator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    border:3px solid black;
    border-radius: 12px;
    float: right;
    max-width: 49%;
    background-color: #f9fbfd;
  }
 
  .password-generator img{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
 
  .password-generator h2{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    -webkit-text-stroke: 2px var(--secondary-color);
  }

  .lower-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
  }

  /* Contact info styling */

  .contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
   
  
